body{
	background-color: #efefef;
 	width: 100%;
 	font-family: 'Quicksand', sans-serif;
 	font-size: 14px;
}
 .cname_title{
    position: relative;
    float: left;
        margin-left: 1%;
 }
.skin-blue .sidebar-menu>li.header{
    color: #70829A;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
}

.btn-new{
    color: rgba(255,255,255,0.87);
    background-color: rgb(244,81,30);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.btn-new:hover{
    background-color:#fff ;
    color: rgb(244,81,30);
    border-color: rgb(244,81,30);
}

.btn-save{
    color: rgba(255,255,255,0.87);
    background-color: rgb(1,89,162);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}
.btn-save:hover{
    background-color:#fff ;
    color: rgb(1,89,162);
    border-color: rgb(1,89,162);
}


 .box-header{
        padding: 14px 9px 9px 9px;
 }
.skin-blue .main-header .navbar{
	z-index: 1030;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right, #238ce6 0, #2582b7 100%);
    background: -moz-linear-gradient(to right, #238ce6 0, #2582b7 100%);
    background: -webkit-linear-gradient(to right, #238ce6 0, #2582b7 100%);
    background: linear-gradient(to right, #238ce6 0, #2582b7 100%);
}
.content{
	    margin-top: -100px;
}
.content-header{
	background: linear-gradient(to right, #238ce6 0, #2582b7 100%);
    background: -moz-linear-gradient(to right, #238ce6 0, #2582b7 100%);
    background: -webkit-linear-gradient(to right, #238ce6 0, #2582b7 100%);
    background: linear-gradient(to right, #238ce6 0, #2582b7 100%);
    margin: -20px -5px 23px;
    padding: 35px 15px 100px 20px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
}
 
 .content-header h3{
 	    font-size: 22px;
    letter-spacing: -.5px;
    margin: 0;
 }
.content-header .breadcrumb-wrapper {
    position: absolute;
    top: 45px;
    right: 25px;
}
.content-header  .breadcrumb-wrapper .label {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
}
.content-header .breadcrumb {
    background: 0 0;
    display: inline-block;
    padding: 0;
}
.content-header, .content-header .breadcrumb li a, .content-header .breadcrumb li.active, .content-header h3 {
    color: #fff;
}
.label {
    font-weight: 400;
    border-radius: .1em;
    font-size: 85%;
}

.content-header .fa, .content-header .glyphicon {
    font-size: 24px;
    margin-right: 5px;
    padding: 6px 7px;
    border: 2px solid #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.skin-blue .main-header .logo{
	background-color: #fff;
	 
}
.logo-lg img{
	height: 60px;
    margin-top: -5px;
}
.logo-mini img{
	height: 55px;
}
.main-header .logo{
	padding: 0 3px;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
	background-color: #ffffff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}
.skin-blue .sidebar a{
	color: #464646;
 }
 .skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a{
	 background: #f7f7f7;
	 color: #616161;
 }
 .skin-blue .sidebar-menu>li>.treeview-menu{
	 background-color: #fff;
 }
 .skin-blue .sidebar-menu .treeview-menu>li.active>a, .skin-blue .sidebar-menu .treeview-menu>li>a:hover{
	 color: #616161;
	 background-color: #f7f7f7;
 }
  
 .wrapper{
	height: 100% !important;
    overflow-y: scroll !important;
 }
 .content-wrapper{
	background-color: #efefef;
 }
 .skin-blue .main-header .logo:hover, .skin-blue .main-header .navbar .sidebar-toggle:hover{
	 background-color:transparent;
 }
 .skin-blue .user-panel>.info, .skin-blue .user-panel>.info>a{
	 color: #272727;
 }
 
.center{
	text-align: center;
}
.companybox{
	border: 1px solid;
    border-radius: 5px;
    padding: 15px;
}
.loginForm{
	padding: 20px;
}
.login-box-body{
	padding: 0 !important;
}
.logo{
	font-weight: bold;
	font-size: 16px;
}
.icon{
	cursor: pointer;
	padding: 3px;
	border: 1px solid #4e6eca;
	color: #4e6eca;
}
.bottom25{
	margin-bottom: 25px;
}
.starmark{
	color: red;
}

.slimScrollBar{
	width: 4px !important;
}
.btn[disabled]{
	opacity: 1;
}
 .btn-custom{
	 background-color: #4e6eca;
	 border-color: #4e6eca;
	 color: #fff;
	 padding-left: 25px;
	 padding-right: 25px;
 }
 .btn-custom:hover{
	 background-color: #fff;
	 color: #4e6eca;
 }
 .btn-custom:focus{
	background-color: #fff;
	color: #4e6eca;
 }
 .right{
	 text-align: right;
 }

 .btn-back{
	border: 1px solid #2E3F59;
    padding: 3px 16px 3px 16px;
 }
 .btn-back i{
	font-size: 19px;
	color: #2E3F59;
 }

 .btn-back:hover{
	 background-color: #2E3F59;
 }
 .btn-back:hover i{
	color: #FFFFFF;
 }
.modal-content{
	border: 3px solid #4e6eca
}
 .modal-header{
	padding: 10px;
    background-color: #4e6eca;
    color: #fff;
 }
 .no-border{
	 border:0px !important;
 }
 .g_inner{
	border: 1px solid #fff;
	border-radius: 6px;
	padding: 10px;
	background: #fff;
 }
 .box, .g_inner,.small-box{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	
 }
 .pinfo{
 	height: 100%;
 	background-image: url('../img/bg4.png') ;
  	 background-position: center; 
  	 background-size: cover;

 }
 .layer {
    background:linear-gradient(to right, #238ce6 0, #2582b7 100%);
   opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.white{
	color: #fff;
}
.feature_ul{
	color: #fff;
	line-height: 2;
	font-size: 20px;
	padding: 0px;
}
.layer h1{
	    padding-top: 10%;
}
.slogan{
	    text-align: right;
    color: #fff;
    padding-right: 25%;
    font-style: italic;
    font-size: 18px;
}
.login-wrap{
	padding-top:10%;
	padding-left:5%;
	padding-right:5%;
}
.lg_contact{
	margin-top: 10%;
	font-size: 16px;
}
.lg_contact>div{
	padding: 10px;
    border: 1px solid #fff;
    border-radius: 6px;
}

.mt0 {
    margin-top: 0!important;
}
.c-checkbox {
    margin-right: 4px;
}
.pull-left {
    float: left!important;
}
.c-checkbox input {
    opacity: 0;
    position: absolute;
    margin-left: 0!important;
}
.c-checkbox span{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: -20px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin-right: 5px;
    text-align: center;
}
.c-checkbox *  {
    cursor: pointer;
}
.c-checkbox span:before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    text-align: center!important;
    font-size: 12px;
    line-height: 18px;
    vertical-align: middle;
}
.c-checkbox span:before {
    margin-left: 1px;
}
.text-muted {
    color: #909fa7;
}
.c-checkbox input[type=checkbox]:checked+span{
	    border-color: #5d9cec;
    background-color: #5d9cec;
}

.c-checkbox input[type=checkbox]:checked+span:before, 
.c-checkbox input[type=radio]:checked+span:before{
	    color: #fff;
    opacity: 1;
    transition: color .3s ease-out;
}