<section class="content-header">

<h3><i class="fa fa-home"></i> Bảng điều khiển </h3>

   <div class="breadcrumb-wrapper">
                      <span class="label">Bạn đang trong mục</span>
                         <ol class="breadcrumb">
                            <li> <a href="#"> Home </a> </li>
                            <li class="active"> Bảng điều khiển </li>
                         </ol>
                    </div>
</section>

 <section class="content">
   
                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-aqua animated fadeIn">
                          <div class="inner">
                            <h3>10,000,000</h3>
                            <p>Tổng doanh thu</p>
                          </div>
                          <div class="icon no-border" >
                            <i class="fa fa-user"></i>
                          </div>
                         </div>
                      </div>
                      <!-- ./col -->
                      <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-green animated fadeIn">
                          <div class="inner">
                            <h3>220</h3>
                  
                            <p>Tổng số lượng bán ra</p>
                          </div>
                          <div class="icon no-border">
                            <i class="fa fa-inr"></i>
                          </div>
                         </div>
                      </div>
                      <!-- ./col -->
                      <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-yellow animated fadeIn">
                          <div class="inner">
                            <h3>44</h3>
                  
                            <p>Tổng số mặt hàng</p>
                          </div>
                          <div class="icon no-border">
                            <i class="fa fa-edit"></i>
                          </div>
                         </div>
                      </div>
                      <!-- ./col -->
                      <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-red animated fadeIn">
                          <div class="inner">
                            <h3>65</h3>
                  
                            <p>Số lượng khách truy cập</p>
                          </div>
                          <div class="icon no-border">
                            <i class="fa fa-users"></i>
                          </div>
                         </div>
                      </div>
                      <!-- ./col -->

                </div>

         <div class="row">
      <div class="col-md-6" >
      <div class="g_inner animated fadeInUp" >
        <h4>Báo cáo bán hàng hàng tháng</h4>
        <nvd3 options="options" data="data"></nvd3>
      </div>
      </div>

      <div class="col-md-6" >
      <div class="g_inner animated fadeInUp">
        
    <style>

    </style>
           <h4 class="cangiua">Tin tức hàng ngày</h4>
           
      </div>
    </div>
    </div>

</section>