<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="index2.html" class="logo">
            <!-- Phần logo nhỏ đặt giá trị 50x50 pixels -->
            <span class="logo-mini"><img ng-src="public/img/small.png"></span>
            <!-- Logo cho trang trính và các thiết bị Mobile -->
            <span class="logo-lg"><img ng-src="public/img/company.png"></span>
        </a>
        <!-- Thanh điều hướng header: style có thể tìm và chỉnh sữa file header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Nút chuyễn đỗi của thanh điều hướng-->
            <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Danh mục</span>
          </a>

            <ul class="nav navbar-nav cname_title">
                <li>
                    <a style="font-size: 16px">Phần mềm quản lí bán hàng</a>
                </li>
            </ul>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Style phần user : Tìm kiếm và chỉnh sữa file dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="public/img/user2-160x160.jpg" class="user-image" alt="User Image">
                  <span class="hidden-xs">{{name}}</span>
                </a>
                    </li>
                    <li ng-controller="authCtrl">
                        <a ng-click="logout()" style="cursor: pointer;"><i class="fa fa-sign-out"></i> </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <!-- sidebar: Tìm kiếm ở sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar bảng điều khiển user -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="public/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{{name}}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Trực tuyến</a>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">Danh mục chính</li>
                <li class="treeview"> <!-- Active -->
                
                <a href="#/Sales/Home">
                <i class="fa fa-dashboard"></i> 
                <span>Bảng điều khiển</span>
                </a>
 
               
            </li>
            <li class="treeview">
                <a href="">
                <i class="fa fa-files-o"></i>
                <span>Tác vụ cửa hàng</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
                  </a>
                <ul class="treeview-menu">
                    <li><a href="#/Sales/Company"><i class="fa fa-circle-o"></i>Thông tin cửa hàng</a></li>
                    <li><a href="#/Sales/Tax"><i class="fa fa-circle-o"></i>Khách hàng</a></li>
                    <li><a href="#/Sales/Items"><i class="fa fa-circle-o"></i>Kho hàng</a></li>
                    <li><a href="#/Sales/Suppliers"><i class="fa fa-circle-o"></i>Nhà cung cấp</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="">
                <i class="fa fa-pie-chart"></i>
                <span>Bán hàng</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
                <ul class="treeview-menu">
                    <li><a href="#/Sales/Sale"><i class="fa fa-circle-o"></i> Đơn hàng</a></li>
                    <li><a href="#/Sales/SaleReport"><i class="fa fa-circle-o"></i> Báo cáo bán hàng</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="">
                <i class="fa fa-laptop"></i>
                <span>Mua </span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
                <ul class="treeview-menu">
                    <li><a href=""><i class="fa fa-circle-o"></i>Đơn đặt hàng <br> - Đang phát triển</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i>Báo cáo mua hàng <br> - Đang phát triển</a></li>
                </ul>
            </li>
            <li>
                <a href="#/Sales/Home">
                  <i class="fa fa-user"></i> <span>Thông tin cá nhân <br> - Trong tiến trình</span>
                  <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                  </span>
                </a>
            </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper" style="min-height: 946px;">
        <ui-view autoscroll='false'></ui-view>


    </div>


    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Phiên bản</b> 0.0.1
        </div>
        <strong> 
          <a href="#">Phần mềm quản lí bán hàng</a>.</strong> 2018

    </footer>
</div>
