 
<section class="content-header" ng-init="newSaleRequired()">

<h3><i class="fa fa-home"></i> Báo cáo bán hàng </h3>

   <div class="breadcrumb-wrapper">
                      <span class="label">Bạn đang ở :</span>
                         <ol class="breadcrumb">
                            <li> <a href=""> Quản trị </a> </li>
                            <li class="active"> Báo cáo bán hàng </li>
                         </ol>
                    </div>
</section>



<section class="content">
        <div class="row">
                <div class="col-md-6">
                        <div class="g_inner">
                            <h4>Báo cáo hàng năm</h4>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Năm</th>
                                        <th>Tổng lợi nhuận</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>2017-2018</td>
                                        <td>50.000.000</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>2016-2017</td>
                                        <td>50.000.000</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>2015-2016</td>
                                        <td>50.000.000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

            <div class="col-md-6">
                <div class="g_inner">
                    <h4>Báo cáo tháng</h4>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tháng</th>
                                <th>Tổng lợi nhuận</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Tháng 1</td>
                                <td>5.000.000</td>
                            </tr>
                             <tr>
                                <td>2</td>
                                <td>Tháng 2</td>
                                <td>5.000.000</td>
                            </tr>
                             <tr>
                                <td>3</td>
                                <td>Tháng 3</td>
                                <td>5.000.000</td>
                            </tr>
                             <tr>
                                <td>4</td>
                                <td>Tháng 4</td>
                                <td>5.000.000</td>
                            </tr>
                             <tr>
                                <td>5</td>
                                <td>Tháng 5</td>
                                <td>5.000.000</td>
                            </tr>
                             <tr>
                                <td>6</td>
                                <td>Tháng 6</td>
                                <td>5.000.000</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            
         </div>
</section>